.carousel-style{

}
.css-ohwg9z{
    width: 100%;
}
.MuiPaper-root{
    background-color: #ffffff45 !important;
}
.css-1ps6pg7-MuiPaper-root{
    box-shadow: none;
}
.drawer{
    margin-top: -10px;
    width: 1000px;
}
.css-1m9128y{
    display: none;
}