.aboutDiv{
    padding-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        border-radius: 50px;
    }
}
.aboutDescription{
    font-family: 'Lobster', cursive;
}